body{
    font-family: Roboto, Arial, sans-serif;
    color: $c-text;
    font-size: 14px;
}
strong {
    font-weight: 700;
}
h1 {
    color: $c-text;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 14px;
    font-weight: 300;
}
h2 {
	font-size: 18px;
    margin-bottom: 5px;
    margin-top: 14px;
    font-weight: 300;
}
h3 {
    color: $c-primary-medium;
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 16px;
}
h4 {
    color: $c-primary-medium;
    font-size: 19px;
}
h5 {
	font-size: 14px;
    margin-bottom: 10px;
}
a {
	color: $c-text;
	text-decoration: none;
    &:hover {
        color: $c-primary-medium;
    }
    &:focus {
        text-decoration: none;
        color: inherit;
    }
}
p {
    margin: 0 0 20px;
    font-size: 13px;
    line-height: 18px;
}
small {
	font-size: 10px;
}
.highlight {
    color: $c-primary-medium;
}
.btn-primary {
	background: $c-orange;
	border-color: $c-orange;
	&:hover {
		background: darken($c-orange, 10%);
		border-color: darken($c-orange, 10%);
	}
}