// ==========================
// Colours
// ==========================
$c-orange: #FF6500;
$c-lorange: #FFE8C0;
$c-lblue: #99B7C1;
$c-blue: #246074;
$c-dblue: #004B64;
$c-white: #FFFFFF;
$c-grey:   #A7A9AB;
$c-xlgrey:  #F4F4F4;
$c-lgrey:  #ebebeb;
$c-dgrey:  #58585B;
$c-bgrey: #cacaca;

$c-text: $c-dgrey;
$c-text-light: $c-grey;

$c-primary-medium: $c-orange;
$c-primary-light: $c-lorange;

$c-secondary-light: $c-lgrey;
$c-secondary-medium: $c-blue;
$c-secondary-dark: $c-dblue;


$c-border: $c-bgrey;
$c-border-dark: $c-grey;

// ==========================
// Breakpoints
// ==========================

$bp-xsmall: 479px;
$bp-small: 599px;
$bp-medium: 767px;
$bp-large: 959px;
$bp-xlarge: 1199px;

$radius: 4px;

//** Global text color on `<body>`.
$text-color:            $c-dgrey;

//** Global textual link color.
$link-color:            $c-orange;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: underline;